<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Edgar Luque" />
    {% block seo %}
    <meta name="description" content="{{ config.description }}" />
    <meta property="og:title" content="{{ config.title }}" />
    <meta property="og:description" content="{{ config.description }}" />
    <meta property="og:type" content="article" />
    <meta property="twitter:title" content="{{ config.title }}" />
    <meta property="twitter:description" content="{{ config.description }}" />
    {% endblock %}
    <meta property="twitter:creator" content="@edgluq" />
    <meta property="twitter:site" content="@edgluq" />
    <title>{% block title %}{{ config.title }}{% endblock %}</title>
    <link rel="stylesheet" href="/style.css?v=3" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap" rel="stylesheet">
    {% block rss %}
    <link rel="alternate" type="application/atom+xml" title="RSS" href="/atom.xml">
    {% endblock %}
    <script defer src="https://umami.edgl.dev/script.js" data-website-id="39eceaa9-6454-4d42-9be7-7b69377be41e"></script>
  </head>

  <body>
    <header class="container">
      <a href="/" class="title"><p class="brand-title">Edgar Luque's Website</p></a>
      <ul class="nav">
        <li><a href="/categories">Categories</a></li>
        <li>
          <a href="/about" title="About me"
            >About</a
          >
        </li>
        <li>
          <a href="/projects" title="Projects I created/contributed"
            >Projects</a
          >
        </li>
        <li>
          <a href="/misc" title="Miscellaneous stuff"
            >Misc</a
          >
        </li>
        <li>
          <a href="https://github.com/edg-l" title="My GitHub profile"
            >GitHub</a
          >
        </li>
      </ul>
    </header>
    <section class="section container">
      {% block content %} {% endblock %}
    </section>

    <section class="section container footer">
        <p>Copyright &copy; 2019-2025 Edgar Luque</p>
        <p>This page is licensed under a <a href="https://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike 4.0 International License (CC BY-SA 4.0)</a>.</p>
    </section>
  </body>
</html>
