<!DOCTYPE html>
<html lang="{{ lang }}">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Edgar Luque" />
    {% block seo %}
    <meta name="description" content="{{ config.description }}" />
    <meta property="og:title" content="{{ config.title }}" />
    <meta property="og:description" content="{{ config.description }}" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{ current_url }}" />
    <link rel="canonical" href="{{ current_url }}" />
    <meta name="twitter:card" content="summary" />
    <meta property="twitter:title" content="{{ config.title }}" />
    <meta property="twitter:description" content="{{ config.description }}" />
    {% endblock %}
    <meta property="twitter:creator" content="@edgluq" />
    <meta property="twitter:site" content="@edgluq" />
    <title>{% block title %}{{ config.title }}{% endblock %}</title>
    <link rel="stylesheet" href="{{ get_url(path='style.css', cachebust=true) }}" />
    {% block rss %}
    <link rel="alternate" type="application/atom+xml" title="RSS" href="{{ get_url(path='atom.xml', trailing_slash=false) }}">
    {% endblock %}
    <script defer src="/u/script.js" data-website-id="38973eb3-c38a-4b9c-a314-d4627a649d60"></script>
    <script defer src="{{ get_url(path='js/copy.js', cachebust=true) }}"></script>
  </head>

  <body>
    <a href="#content" class="skip-link">Skip to content</a>
    <header class="container">
      <a href="/" class="title"><span class="brand-title">Edgar Luque's Website</span></a>
      <ul class="nav">
        <li><a href="/categories">Categories</a></li>
        <li>
          <a href="/about" title="About me"
            >About</a
          >
        </li>
        <li>
          <a href="/projects" title="Projects I created/contributed"
            >Projects</a
          >
        </li>
        <li>
          <a href="/misc" title="Miscellaneous stuff"
            >Misc</a
          >
        </li>
        <li>
          <a href="https://github.com/edg-l" title="My GitHub profile" rel="me"
            >GitHub</a
          >
        </li>
      </ul>
    </header>
    <section class="section container content" id="content">
      {% block content %} {% endblock %}
    </section>

    <section class="section container footer">
        <p>Copyright &copy; 2019-{{ now() | date(format="%Y") }} Edgar Luque</p>
        <p>This page is licensed under a <a href="https://creativecommons.org/licenses/by-nd/4.0/">Creative Commons Attribution-NoDerivatives 4.0 International License (CC BY-ND 4.0)</a>.</p>
    </section>

  </body>
</html>
