{% extends "base.html" %}

{% block title %}{{ page.title }}{% endblock content %}

{% block seo %}
<meta name="description" content="{{ page.description }}" />
<meta property="og:title" content="{{ page.title }}" />
<meta property="og:description" content="{{ page.description }}" />
<meta property="og:type" content="article" />
<meta property="twitter:title" content="{{ page.title }}" />
<meta property="twitter:description" content="{{ page.description }}" />
{% endblock %}

{% block content %}
<article>
<h1 class="title">
  {{ page.title }}
</h1>

<p class="blog-date"><strong><time datetime="{{ page.date }}">{{ page.date }}</time></strong></p>
<p class="blog-date">
{% for category in page.taxonomies["categories"] %}
<a class="category-link capitalize" href="{{ get_taxonomy_url(kind="categories", name=category) | safe }}"><i>{{ category }}</i></a>
{% endfor %}</p>
{{ page.content | safe }}
</article>

<p><iframe src="https://github.com/sponsors/edg-l/button" title="Sponsor edg-l" height="32"
  width="114" style="border: 0; border-radius: 6px; display: inline-block; vertical-align: middle;"></iframe>
<a href="https://liberapay.com/edgl/donate">
  <img style="display: inline-block; vertical-align: middle;" alt="Donate using Liberapay"
    src="https://liberapay.com/assets/widgets/donate.svg">
</a></p>

{% endblock content %}
