{% extends "base.html" %}

{% block title %}{{ page.title }}{% endblock content %}

{% block seo %}
<meta name="description" content="{{ page.description }}" />
<meta property="og:title" content="{{ page.title }}" />
<meta property="og:description" content="{{ page.description }}" />
<meta property="og:type" content="article" />
<meta property="twitter:title" content="{{ page.title }}" />
<meta property="twitter:description" content="{{ page.description }}" />
{% endblock %}

{% block content %}
<article>
<h1 class="title">
  {{ page.title }}
</h1>
<p class="blog-date"><strong><time datetime="{{ page.date }}">{{ page.date }}</time></strong></p>
{{ page.content | safe }}
</article>
{% endblock content %}