{% extends "base.html" %} {% block content %}
<h1 class="title">Welcome to my website</h1>
<p>
  This is my personal website, where I post articles and other stuff, usually about coding. Opinions are my own.
</p>

<p>This blog has no ads, please consider sponsoring me, thanks! {% include "partials/sponsor.html" %}</p>

<p>Socials: <a href="https://x.com/edgluq" rel="me" data-umami-event="social-twitter">Twitter (X)</a>,
  <a href="https://bsky.app/profile/edg-l.bsky.social" rel="me" data-umami-event="social-bluesky">Bluesky</a>,
  <a href="https://github.com/edg-l" rel="me" data-umami-event="social-github">GitHub</a>.</p>

<p>Currently working at <a href="https://lambdaclass.com/">LambdaClass</a>.</p>

<p>Some projects:
  <a href="https://github.com/edg-l/edlang">edlang</a>,
  <a href="https://github.com/edg-l/irvm">irvm</a>,
  <a href="https://github.com/lambdaclass/concrete">concrete</a>,
  <a href="https://wiki.ddnet.org">wiki.ddnet.org</a>,
  <a href="https://ddstats.org/">ddstats.org</a>,
  <a href="https://db.ddstats.org">db.ddstats.org</a> and <a href="/projects">more</a>.</p>

{% set section = get_section(path="blog/_index.md") %}
<h2>Articles</h2>
<ul class="posts">
  {% set current_year = 0 %}
  {% for page in section.pages %}
  {% set post_year = page.date | date(format="%Y") | int %}
  {% if post_year != current_year %}
  {% set_global current_year = post_year %}
  <li class="year-heading"><h3>{{ post_year }}</h3></li>
  {% endif %}
  <li>
    <span><time datetime="{{ page.date }}">{{ page.date }}</time> - </span>
    <a href="{{ page.permalink }}" title="{{ page.description }}">{{ page.title }}</a>
  </li>
  {% endfor %}
</ul>

<p><a href="/atom.xml">RSS Feed</a></p>

{% endblock content %}
