{% extends "base.html" %}

{% set rss_path = term.path ~ "atom.xml" %}

{% block rss %}
  {% set rss_path = term.path ~ "atom.xml" %}
  <link rel="alternate" type="application/atom+xml" title="RSS" href="{{ get_url(path=rss_path, trailing_slash=false) }}">
{% endblock rss %}

{% block content %}

<h1 class="capitalize">{{ term.name }} articles</h1>

<ul class="posts">
  {% for page in term.pages %}
  <li>
    <span><time datetime="{{ page.date }}">{{ page.date }}</time>: </span>
    <a href="{{ page.permalink }}" title="{{ page.description }}"
      >{{ page.title }}</a
    >
  </li>
  {% endfor %}
</ul>

<p><a href="{{ get_url(path=rss_path, trailing_slash=false) }}">RSS Feed</a></p>

{% endblock content %}
